<section class="contact-section bg-black" id='contact'>
            <div class="container">

                <div class="row">

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">21 Hillfarm Drive, Toronto ON</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">
                                    <a href="#">derekli.3628{at}gmail{dot}com</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">+1 (647) 960-3628</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="social d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/derekli-3628/" class="mx-2">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://gitlab.com/deruga" class="mx-2">
                        <i class="fab fa-gitlab"></i>
                    </a>
                    <a href="https://www.instagram.com/deruga04/" class="mx-2">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

            </div>
        </section>