<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Hello there</title>

        <!-- Bootstrap core CSS -->
        {% load static %}
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template -->

        <link rel="stylesheet" href="{% static 'css/grayscale.css' %}">

    </head>

    <body id="page-top">
        {% include 'nav.html' %}
        <!-- Navigation -->
        

        <!-- Header -->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="text-uppercase">Derek Li</h1>
                    <h2 class="text-white mx-auto mt-2 mb-5">software engineer</h2>
                    <!-- <a href="#about" class="btn btn-primary js-scroll-trigger"><h1><i class="fas fa-file cv-icon"></i></h1></a> -->
                    <a href="{% static 'files/resume-5.pdf' %}" class="mx-2 btn-primary btn">
                        Hiring? Let's talk.
                    </a>
                </div>
            </div>
        </header>

        <!-- About Section -->
        <!--
        <section id="about" class="about-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Built with Bootstrap 4</h2>
                        <p class="text-white-50">Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
                            <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                    </div>
                </div>
                <img src="{% static 'img/ipad.png' %}" class="img-fluid" alt="">
            </div>
        </section>
    -->

        <!-- Projects Section -->
        <section id="projects" class="projects-section bg-light">
            <div class="container">

                <!-- Featured Project Row -->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7">
                        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/cybersecurity.jpg' %}" alt="">
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Who I Am</h4>
                            <p class="text-black-50 mb-0">I have a strong passion in software and my
                            goal is to make a difference in the technology industry. I have strong
                            fundamentals in data structures, algorithms, and many different aspects
                            of computing. Call me a ditto because I can be anyone you want me to be.</p>
                            <p class="text-black-50 mb-0">I have interests outisde of tech too, I guess:</p>
                            <ul class="text-black-50 mb-0">
                                <li>Photography</li>
                                <li>Taekwondo</li>
                                <li>Graphic design</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Project One Row -->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6">
                        <!-- <img class="img-fluid" src="{% static 'img/york-university_logo.png' %}" alt=""> -->
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Education</h4>
                                    <p class="mb-0 text-white-50">Software Engineering, Software Security</p>
                                    <p class="mb-0 text-white-50">York University</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project Two Row -->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6">
                        <!-- <img class="img-fluid" src="{% static 'img/york-university_logo.png' %}" alt=""> -->
                    </div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Employment</h4>
                                    <p class="mb-0 text-white-50">Student Technology Assistant</p>
                                    <p class="mb-0 text-white-50">eServices, York University</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Signup Section -->
        <!--
        <section id="signup" class="signup-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">

                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

                        <form class="form-inline d-flex">
                            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        -->

        <!-- Contact Section -->
        {% include 'footer.html' %}

        <!-- Footer -->
        <footer class="bg-black small text-center text-white-50">
   <!--          <div class="container">
                Copyright &copy; Your Website 2018
            </div> -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static 'js/grayscale.min.js' %}"></script>

    </body>

</html>
