{% extends 'base_generic.html' %}

{% block content %}
{% load static %}
<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <!-- <h1 class="text-uppercase">Derek Li</h1> -->
            <!-- <h2 class="text-white mx-auto mt-2 mb-5">software developer</h2> -->
            <h3 class='text-white'>"{{quote}}"</h3>
            <h2 class="text-white mx-auto mt-2 mb-5">-{{quote_author}}</h2>
            <!-- <a href="#about" class="btn btn-primary js-scroll-trigger"><h1><i class="fas fa-file cv-icon"></i></h1></a> -->
            <a href="{% static 'files/resume-8.pdf' %}" class="mx-2 btn-primary btn">
                Hiring?
            </a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/cybersecurity.jpg' %}" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Who I Am</h4>
                    <p class="text-black-50 mb-0">I have a strong passion in software and my
                    goal is to make a difference in the technology industry. I have strong
                    fundamentals in data structures, algorithms, and many different aspects
                    of computing. Call me a ditto because I can be anyone you want me to be.</p>
                    <p class="text-black-50 mb-0">I have interests outisde of tech too, I guess:</p>
                    <ul class="text-black-50 mb-0">
                        <li>Photography</li>
                        <li>Taekwondo</li>
                        <li>Graphic design</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <!-- <img class="img-fluid" src="{% static 'img/york-university_logo.png' %}" alt=""> -->
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Education</h4>
                            <p class="mb-0 text-white-50">Software Engineering, Software Security</p>
                            <p class="mb-0 text-white-50">York University</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <!-- <img class="img-fluid" src="{% static 'img/york-university_logo.png' %}" alt=""> -->
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Employment</h4>
                            <p class="mb-0 text-white-50">Student Technology Assistant</p>
                            <p class="mb-0 text-white-50">eServices, York University</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}