{% extends "base_generic.html" %}

{% block content %}
<section class="projects-section bg-light">
    <div class='container'>
        <h1>Project List</h1>
        {% if projects %}
        <div class='container-fluid'>
            {% for project in projects.all %}
            <div class="card col-sm-4">
                <img class="card-img-top" src="{{project.image.url}}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{project.name}}</h4>
                    <p class="card-text">{{project.description}}</p>
                    <button type='button' class='btn' href='{{project.source}}'>Source</button>
                    <button type='button' class='btn' href='{{project.link}}'>View</button>
                </div>
            </div>
            {% endfor %}
        </div>
        </ul>
        {% else %}
            <p>I have no projects lol</p>
        {% endif %}
    </div>
</section>

{% endblock %}
    